* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
    color: whitesmoke;
}

body {
    background: #222;
}

h1 {
    color: #222;
    text-shadow: 1px 1px 3px whitesmoke;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

nav {
    width: 100%;
    border-bottom: 1px solid rgb(171, 157, 131);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

nav ul li a {
    color: rgb(171, 157, 131);
    text-decoration: none;
}

nav ul li a:hover {
    color: #222;
    text-shadow: 1px 1px 3px whitesmoke;
}

footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-top: 1px solid rgb(171, 157, 131);
    color: rgb(171, 157, 131);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

footer h3 {
    color: rgb(171, 157, 131);
}

.carrusel {
    margin: 50px auto;
    width: 95%;
    /* border: 1px solid rgb(171, 157, 131); */
    display: flex;
    overflow-x: auto;
    gap: .5em;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

.carrusel::-moz-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    animation: spin 18s infinite linear;
}

.card {
    flex: 0 0 12em;
    height: 8em;
    padding: 1em;
    background: wheat;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}